addict==2.4.0
airsim==1.8.1
attr==0.3.2
ipdb==0.13.13
llava==0.0.1.dev0
matplotlib==3.10.9
msgpack_rpc_python==0.4.1
numpy==2.4.6
opencv_contrib_python==4.12.0.88
opencv_python==4.12.0.88
peft==0.17.1
pickle5==0.0.12
Pillow==12.2.0
pycocotools==2.0.11
PyYAML==6.0.3
scipy==1.17.1
setuptools==80.9.0
supervision==0.27.0
termcolor==3.3.0
timm==0.9.7
torch==2.4.0+cu118
torchvision==0.19.0+cu118
tqdm==4.67.1
transformers==4.57.3
yacs==0.1.8
yapf==0.43.0
